@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-success">
    <div class="panel-heading">
        <h2> Researcher Name : Ng Kok Xuan </h2>
    </div>
    <div class="panel-body">
        <p> TP Number : TP032072</p>
        <p> Intake : UC3F1610SE </p>
        <p> Software Engineering</p>
        <p> FYP Title : EVA - Volunteering Resources Management and Profile System For APU</p>
        <p> University : Asia Pacific University</p>     
        <p> Email Address : lionelng1122@gmail.com </p>
        <p> This web application is developed by using</p>
        <ul>
            <li> ASP.Net Framework</li>
            <li> C# Programming Language</li>
            <li> Bootstrap and JQuery</li>
            <li> HTML and CSS </li>
            <li> SQL Server Express </li>
        </ul>
        <p> Main Supervisor : Mr Abubakar S.Santuraki</p>
    </div>
</div>
